@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  background: transparent;
  cursor: pointer;
  border: transparent;
}

.wrapper {
  overflow: hidden;
  background-color: #0B1D26;
}

.header {
  width: 91.7%;
  margin-top: 20px;
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.logo {
  background: url("../img/Logo.svg") center no-repeat;
  width: 108px;
  height: 24px;
  display: inline-block;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 100px;
}

.nav_menu__item {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.header__accound-box {
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-items: center;
}

.header__account-icon {
  background: url("../img/account-icon.svg") center no-repeat;
  width: 24px;
  height: 24px;
}

.nav_menu-mob {
  display: none;
  width: 24px;
  height: 24px;
  background: url("../img/menu-mob.svg") center no-repeat;
}

.header__account-text {
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.hero {
  perspective: 1000px;
  position: relative;
  padding: 0px 0px 100px !important;
}

.layers-container {
  height: 1915px;
  transform-style: preserve-3d;
  transform: rotateY(var(--move-x)) rotateX(var(--move-y));
  will-change: transform;
  transition: transform var(--transition);
}

.layers__item {
  position: absolute;
}

:root {
  --index: calc(1vw + 1vh);
}

.hero__layer-1 {
  background: url("../img/layer-1copy.png") center no-repeat;
  top: -10vw;
  right: -20vw;
  left: -20vw;
  bottom: 500px;
  background-size: contain;
  transform: translateZ(-200px) scale(1.1);
}

.hero__layer-2 {
  background: url("../img/layer-2.png") center top no-repeat;
  top: 600px;
  right: -20vw;
  bottom: -10vw;
  left: -20vw;
  background-size: contain;
  transform: translateZ(0px) scale(0.8);
}

.hero__layer-3 {
  transform: translateY(0) scale(0.8);
  width: 100%;
}

.hero__layer-4 {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0) scale(0.8);
}

.socials-box {
  display: flex;
  justify-content: space-between;
  width: 173px;
  height: 24px;
  transform: rotate(90deg);
}

.socials__text {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.socials__instagram {
  width: 24px;
  height: 24px;
}

.instagram {
  background: url("../img/instagram.svg") center no-repeat;
}

.socials__twitter {
  width: 24px;
  height: 24px;
}

.twitter {
  background: url("../img/twitter.svg") center no-repeat;
}

.hero__intro-box {
  width: 50%;
}

.uppertitle {
  font-size: 18px;
  color: #FBD784;
  font-weight: bold;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.uppertitle::before {
  content: "";
  display: inline-block;
  border: #FBD784 2px solid;
  width: 72px;
}

.hero__intro-title {
  font-size: 88px;
  color: #ffffff;
  font-weight: bold;
}

.hero__intro-down-scroll {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.hero__intro-down-scroll-text {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.hero__intro-down-scroll-text::after {
  content: "↓";
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.navigatoin-menu {
  display: flex;
  flex-direction: column;
  width: 77px;
  align-items: flex-end;
}

.navigatoin__button {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.navigatoin__button:hover::after {
  background-color: #ffffff;
}

.navigatoin__button::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.462745098);
  margin-left: 15px;
  width: 3px;
  height: 60px;
  display: inline-block;
}

.conteiner {
  margin: 0 auto;
  padding: 100px 229px;
  max-width: 1920px;
}

.hiker {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  margin-top: -600px;
  background-color: #0B1D26;
}

.gear {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}

.map {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}

.hiker__content {
  position: relative;
  z-index: 2;
  width: 43.2%;
}

.hiker__subtitle {
  position: absolute;
  z-index: 1;
  font-size: 240px;
  color: rgba(255, 255, 255, 0.2156862745);
  left: -140px;
  top: -170px;
}

.hiker__uppertitle {
  margin-bottom: 27px;
}

.hiker__title {
  font-size: 64px;
  font-weight: 600;
}

.hiker__text {
  margin-top: 27px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 27px;
}

.hiker__button {
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
}
.hiker__button::after {
  content: "➜";
  display: inline-block;
  width: 24px;
  height: 16px;
}

.hiker__img {
  background: url("../img/hiker__img.png") center no-repeat;
  width: 566px;
  height: 720px;
  z-index: 2;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__left {
  width: 50%;
}

.footer__left-text {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 24px;
}

.gray {
  color: rgba(255, 255, 255, 0.4862745098);
  margin-top: 122px;
}

.footer__right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer__right-title {
  font-size: 24px;
  font-weight: 700;
  color: #FBD784;
  margin-bottom: 24px;
}

.footer__right-text {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

.gear__img {
  background: url("../img/gear__img.png") center left no-repeat !important;
}

.map__img {
  background: url("../img/map__img.png") center no-repeat !important;
}

@media (min-width: 1640px) {
  .hero__layer-2 {
    margin-top: -250px;
    right: -30vw;
    left: -30vw;
    background-size: cover;
  }
}
@media (max-width: 1640px) {
  .hero__layer-1 {
    margin-top: -700px;
  }
  .hero__layer-2 {
    margin-top: -250px;
  }
  .hiker {
    margin-top: -1050px;
  }
  .conteiner {
    padding: 100px 80px;
  }
  .hiker__subtitle {
    left: -70px;
  }
}
@media (max-width: 1280px) {
  .hero__layer-1 {
    bottom: 500px;
  }
  .hero__layer-2 {
    margin-top: -400px;
  }
  .nav_menu {
    width: 30%;
  }
  .hiker__img {
    background: url("../img/hiker__img.png") center bottom no-repeat;
    width: 400px;
    height: 500px;
  }
}
@media (max-width: 900px) {
  .hero__layer-1 {
    bottom: 800px;
  }
  .hero__layer-2 {
    margin-top: -550px;
  }
  .hero__intro-title {
    font-size: 50px;
  }
  .socials-box {
    margin-left: -60px;
  }
  .nav_menu {
    margin-left: 0px;
    width: 40%;
  }
  .hiker {
    margin-top: -1450px;
  }
  .hiker__subtitle {
    font-size: 140px;
    left: -65px;
    top: -100px;
  }
  .hiker__title {
    font-size: 40px;
  }
  .hiker__img {
    background: url("../img/hiker__img.png") center bottom no-repeat;
    width: 300px;
    height: 420px;
    order: 2;
    margin-top: 70px;
  }
  .main__item {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 665px) {
  .hero__layer-1 {
    bottom: 1050px;
  }
  .hero__layer-2 {
    margin-top: -650px;
  }
  .nav_menu {
    display: none;
  }
  .nav_menu-mob {
    display: block;
  }
  .header__accound-box {
    display: none;
  }
  .hiker {
    margin-top: -1650px;
  }
  .hiker__content {
    width: 100%;
  }
  .hero__intro-box {
    width: 100%;
    text-align: center;
  }
  .hero__intro-down-scroll {
    margin: 32px auto;
  }
  .hero__layer-4 {
    padding: 70px 10px 20px;
    justify-content: center;
  }
  .socials-box {
    display: none;
  }
  .navigatoin-menu {
    display: none;
  }
  .uppertitle {
    margin-bottom: 0px;
  }
  .hero__intro-title {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .hero__layer-1 {
    bottom: 1250px;
  }
  .hero__layer-2 {
    margin-top: -750px;
  }
  .hero__layer-4 {
    padding: 30px 10px 20px;
  }
  .hero__intro-title {
    font-size: 30px;
  }
  .uppertitle {
    font-size: 14px;
  }
  .uppertitle::before {
    border: #FBD784 1px solid;
  }
}/*# sourceMappingURL=styles.css.map */