.main {
}
.hero {
perspective: 1000px;
    position: relative;
    padding: 0px 0px 100px !important;
}
.layers-container{
    height: 1915px;
    transform-style: preserve-3d;
    transform: rotateY(var(--move-x)) rotateX(var(--move-y));
    will-change: transform;
    transition: transform var(--transition);
}
.layers__item{
position: absolute;
}
:root{

}
.hero__layer-1{
    background: url("../img/layer-1copy.png") center no-repeat;
    top: -10vw;
    right: -20vw;
    left: -20vw;
    bottom:0;
    background-size: contain;
    transform: translateZ(-200px) scale(1.1);
}
.hero__layer-2{
    background: url("../img/layer-2.png") center top no-repeat;
    top: 700px;
    right: -20vw;
    bottom: -10vw;
    left: -20vw;
    background-size: contain;
    transform: translateZ(0px) scale(.8);
}
.hero__layer-3{
    transform: translateY(0) scale(0.8);
    width: 100%;
}
.hero__layer-4{
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0) scale(0.8);
}
.socials-box {
    display: flex;
    justify-content: space-between;
    width: 173px;
    height: 24px;
    transform: rotate(90deg);
}
.socials__text {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
.socials__instagram {
    width: 24px;
    height: 24px;
}
.instagram {
    background: url("../img/instagram.svg") center no-repeat;
}
.socials__twitter {
    width: 24px;
    height: 24px;
}
.twitter {
    background: url("../img/twitter.svg") center no-repeat;
}
.hero__intro-box {
width: 50%;
}
.hero__intro-uppertitle{
    
}
.uppertitle{
    font-size: 18px;
    color: #FBD784;
    font-weight: bold;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    &::before{
        content:"";
        display: inline-block;
        border: #FBD784 2px solid;
        width: 72px;
    }
}
.hero__intro-title {
    font-size: 88px;
    color: #ffffff;
    font-weight: bold;
}
.hero__intro-down-scroll {
    display: flex;
    align-items: center;
margin-top: 32px;
}
.hero__intro-down-scroll-text {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}
.hero__intro-down-scroll-text::after{
    content: "↓";
font-size: 24px;
color: #ffffff;
font-weight: bold;
}
.navigatoin-menu {
    display: flex;
    flex-direction: column;
    width: 77px;
    align-items: flex-end;
}
.navigatoin__button {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    &:hover::after{
        background-color: #ffffff;
    }
}
.navigatoin__button::after {
    content: "";
    background-color: #ffffff76;
    margin-left: 15px;
    width: 3px;
height: 60px;
    display: inline-block;
}
.conteiner {
    margin: 0 auto;
    padding: 100px 229px;
    max-width: 1920px;
}
.hiker {
display: flex;
justify-content: space-between;
color: #ffffff;
align-items: center;
margin-top: -600px;
background-color: #0B1D26;
}
.gear{
    display: flex;
justify-content: space-between;
color: #ffffff;
align-items: center;
}
.map{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}
.hiker__content {
position: relative;
z-index: 2;
width: 43.2%;
}
.hiker__subtitle {
    position: absolute;
z-index: 1;
font-size: 240px;
color: #ffffff1c;
left: -140px;
top: -170px;
}
.hiker__uppertitle {
    margin-bottom: 27px;
}
.uppertitle {
}
.hiker__title{
    font-size: 64px;
    font-weight: 600;
}
.hiker__text {
  margin-top: 27px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 27px;
}
.hiker__button {
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    &::after{
content: "➜";
display: inline-block;
width: 24px;
height: 16px;
}
}
.hiker__img {
    background: url("../img/hiker__img.png") center no-repeat;
    width: 566px;
    height: 720px;
    z-index: 2;
}
.footer {
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteiner {
}
.footer__left {
    width: 50%;
}
.logo {
}
.footer__left-text {
    font-size: 18px;
    font-weight:700;
    color: #ffffff;
    margin-top: 24px;
}
.gray {
    color: #ffffff7c;
    margin-top: 122px;
}
.footer__right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.footer__right-item {

}
.footer__right-title {
font-size: 24px;
font-weight: 700;
color: #FBD784;
margin-bottom: 24px;
}
.footer__right-text {
    font-size: 18px;
    font-weight:700;
    color: #ffffff;
    margin-bottom: 16px;
}
@media(max-width:1440px){
    .hero__layer-1{
        margin-top: -700px;
    }
    .hero__layer-2{
        margin-top: -250px;
    }
    .hiker{
        margin-top: -1050px;
    }
}